.info {
  border-radius: 4px;
  background-color: #ebeef1;
  padding: 10px;
  div{
    background-image: url("./images/perso/attention5.png");
    background-repeat: no-repeat;
    width: 40px;
  }
}

.warningico
{
  background-image: url("./images/perso/attention5.png");
  background-repeat: no-repeat;
}